/*PHOTOGRAPHY CONTENT IMAGES*/

/*GALLERY THUMBNAILS*/

/* Buffalo's Renaissance */

#buffalo_1_wilkesonpointe {
  background-image: url("images/buffalo_wilkesonpointe_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

#buffalo_2_downtown {
  background-image: url("images/buffalo_downtown_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#buffalo_3_waterfront {
  background-image: url("images/buffalo_waterfront_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 50% 10%;
}

#buffalo_4_outerharbor {
  background-image: url("images/buffalo_outerharbor_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 90% 50%;
}

#buffalo_5_elmwoodvillage {
  background-image: url("images/buffalo_elmwoodvillage_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#buffalo_6_theaterdistrict {
  background-image: url("images/buffalo_theaterdistrict_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 20%;
}

#buffalo_7_mainstreet {
  background-image: url("images/buffalo_mainstreet_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 40%;
}

#buffalo_8_canalside {
  background-image: url("images/buffalo_canalside_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 70%;
}

/* Hillview Helpers */

#hillview_1_inquisitive {
  background-image: url("images/hillview_inquisitive_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#hillview_2_excitable {
  background-image: url("images/hillview_excitable_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 85% 50%;
}

#hillview_3_tenacious {
  background-image: url("images/hillview_tenacious_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#hillview_4_wondrous {
  background-image: url("images/hillview_wondrous_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 25% 0%;
}

#hillview_5_lively {
  background-image: url("images/hillview_lively_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 50% 100%;
}

#hillview_6_ambitious {
  background-image: url("images/hillview_ambitious_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 20% 50%;
}

#hillview_7_creative {
  background-image: url("images/hillview_creative_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 90% 50%;
}

#hillview_8_determined {
  background-image: url("images/hillview_determined_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 0% 50%;
}

/* Unecpected Beauty */

#beauty_1 {
  background-image: url("images/beauty_1_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#beauty_2 {
  background-image: url("images/beauty_2_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

#beauty_3 {
  background-image: url("images/beauty_3_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#beauty_4 {
  background-image: url("images/beauty_4_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#beauty_5 {
  background-image: url("images/beauty_5_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#beauty_6 {
  background-image: url("images/beauty_6_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#beauty_7 {
  background-image: url("images/beauty_7_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 50% 0%;
}

#beauty_8 {
  background-image: url("images/beauty_8_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 40%;
}

/* Unecpected Beauty */

#misc_1 {
  background-image: url("images/misc_1_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

#misc_2 {
  background-image: url("images/misc_2_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

#misc_3 {
  background-image: url("images/misc_3_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 70%;
}

#misc_4 {
  background-image: url("images/misc_4_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 30% 25%;
}

#misc_5 {
  background-image: url("images/misc_5_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 40% 50%;
}

#misc_6 {
  background-image: url("images/misc_6_thumb.jpg");
  background-size: 130%;
  background-repeat: repeat;
  background-position: 40% 100%;
}

#misc_7 {
  background-image: url("images/misc_7_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 55%;
}

#misc_8 {
  background-image: url("images/misc_8_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 50%;
}


/*END OF PHOTOGRAPHY CONTENT IMAGES*/
/*PROJECT CONTENT IMAGES*/


/* Intern Onboarding Kit for The Martin Group */

/*THUMBNAIL*/

#martin_thumb {
  background-image: url("images/martin_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 40%;
}

/*FEATURE IMAGE*/

#martin_feature {
  background: url(images/martin_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: right 30%;
}

/*SMALL IMAGE*/

#martin_small_1 {
  background: url(images/martin_small_1.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#martin_small_2 {
  background: url(images/martin_small_2.png);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#martin_small_3 {
  background: url(images/martin_small_3.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#martin_small_4 {
  background: url(images/martin_small_4.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}


/* ADDY Award Winning CMYK Publication */

/*THUMBNAIL*/

#cmyk_thumb {
  background-image: url("images/cmyk_thumb.jpg");
  background-size: 140%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#cmyk_feature {
  background: url(images/cmyk_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#cmyk_large_1 {
  background: url(images/cmyk_large_1.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#cmyk_large_2 {
  background: url(images/cmyk_large_2.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#cmyk_large_3 {
  background: url(images/cmyk_large_3.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#cmyk_small_1 {
  background: url(images/cmyk_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#cmyk_small_2 {
  background: url(images/cmyk_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#cmyk_small_3 {
  background: url(images/cmyk_small_3.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#cmyk_small_4 {
  background: url(images/cmyk_small_4.png);
  background-size: 100% auto;
  background-position: center;
}


/* Canisius Quadrangle 2016 */

/*THUMBNAIL*/

#quadrangle_thumb {
  background-image: url("images/quadrangle_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#quadrangle_feature {
  background: url(images/quadrangle_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 70%;
}

/*SMALL IMAGE*/

#quadrangle_small_1 {
  background: url(images/quadrangle_small_1.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#quadrangle_small_2 {
  background: url(images/quadrangle_small_2.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#quadrangle_small_3 {
  background: url(images/quadrangle_small_3.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#quadrangle_small_4 {
  background: url(images/quadrangle_small_4.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}


/* Juicy Burger Bar Restuarant */

/*THUMBNAIL*/

#juicy_thumb {
  background-image: url("images/juicy_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#juicy_feature {
  background: url(images/juicy_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#juicy_large_1 {
  background: url(images/juicy_large_1.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#juicy_large_2 {
  background: url(images/juicy_large_2.png);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#juicy_large_3 {
  background: url(images/juicy_large_3.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#juicy_small_1 {
  background: url(images/juicy_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#juicy_small_2 {
  background: url(images/juicy_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#juicy_small_3 {
  background: url(images/juicy_small_3.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#juicy_small_4 {
  background: url(images/juicy_small_4.png);
  background-size: 100% auto;
  background-position: center;
}


/* Green Friday Event */

/*THUMBNAIL*/

#greenfriday_thumb {
  background-image: url("images/greenfriday_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#greenfriday_feature {
  background: url(images/greenfriday_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#greenfriday_large_1 {
  background: url(images/greenfriday_large_1.jpg);
  background-size: 125% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#greenfriday_large_2 {
  background: url(images/greenfriday_large_2.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#greenfriday_large_3 {
  background: url(images/greenfriday_large_3.jpg);
  background-size: 120% auto;
  background-position: 50% 70%;
}

/*SMALL IMAGE*/

#greenfriday_small_1 {
  background: url(images/juicy_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#greenfriday_small_2 {
  background: url(images/juicy_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Carte Blanche Restaurant Logo */

/*THUMBNAIL*/

#carteblanche_thumb {
  background-image: url("images/carteblanche_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

/*FEATURE IMAGE*/

#carteblanche_feature {
  background: url(images/carteblanche_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#carteblanche_large_1 {
  background: url(images/carteblanche_large_1.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#carteblanche_large_2 {
  background: url(images/carteblanche_large_2.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#carteblanche_large_3 {
  background: url(images/carteblanche_large_3.jpg);
  background-size: 110% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#carteblanche_small_1 {
  background: url(images/carteblanche_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#carteblanche_small_2 {
  background: url(images/carteblanche_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#carteblanche_small_3 {
  background: url(images/carteblanche_small_3.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#carteblanche_small_4 {
  background: url(images/carteblanche_small_4.png);
  background-size: 100% auto;
  background-position: center;
}


/* Canisius Communications Newsletter */

/*THUMBNAIL*/

#comnewsletter_thumb {
  background-image: url("images/comnewsletter_thumb.jpg");
  background-size: 130%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

/*FEATURE IMAGE*/

#comnewsletter_feature {
  background: url(images/comnewsletter_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 50%;
}

/*SMALL IMAGE*/

#comnewsletter_small_1 {
  background: url(images/comnewsletter_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#comnewsletter_small_2 {
  background: url(images/comnewsletter_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#comnewsletter_small_3 {
  background: url(images/carteblanche_small_3.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#comnewsletter_small_4 {
  background: url(images/carteblanche_small_4.png);
  background-size: 100% auto;
  background-position: center;
}


/* Buffalo Map Screen Printed T-Shirt */

/*THUMBNAIL*/

#buffmapshirt_thumb {
  background-image: url("images/buffmapshirt_thumb.jpg");
  background-size: 140%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

/*FEATURE IMAGE*/

#buffmapshirt_feature {
  background: url(images/buffmapshirt_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 40%;
}

/*LARGE IMAGE*/

#buffmapshirt_large_1 {
  background: url(images/buffmapshirt_large_1.jpg);
  background-size: 130% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#buffmapshirt_large_2 {
  background: url(images/buffmapshirt_large_2.jpg);
  background-size: 130% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#buffmapshirt_large_3 {
  background: url(images/buffmapshirt_large_3.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#buffmapshirt_small_1 {
  background: url(images/buffmapshirt_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#buffmapshirt_small_2 {
  background: url(images/buffmapshirt_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Starbucks “You Are Here” Mugs Commercial */

/*THUMBNAIL*/

#youarehere_thumb {
  background-image: url("images/youarehere_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 20%;
}

/*FEATURE IMAGE*/

#youarehere_feature {
  background: url(images/youarehere_feature.jpg) fixed;
  background-size: 125% auto;
  background-position: 50% 40%;
}

/*SMALL IMAGE*/

#youarehere_small_1 {
  background: url(images/youarehere_small_1.jpg);
  background-size: 100% auto;
  background-position: 50% 16%;
}

/*SMALL IMAGE*/

#youarehere_small_2 {
  background: url(images/youarehere_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Lloyd Taco Factory Cocktail Menu */

/*THUMBNAIL*/

#lloyd_thumb {
  background-image: url("images/lloyd_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 80% 50%;
}

/*FEATURE IMAGE*/

#lloyd_feature {
  background: url(images/lloyd_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 90%;
}

/*LARGE IMAGE*/

#lloyd_large_1 {
  background: url(images/lloyd_large_1.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#lloyd_large_2 {
  background: url(images/lloyd_large_2.jpg);
  background-size: 110% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#lloyd_large_3 {
  background: url(images/lloyd_large_3.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#lloyd_small_1 {
  background: url(images/lloyd_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#lloyd_small_2 {
  background: url(images/lloyd_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Hello Spring Table Tent */

/*THUMBNAIL*/

#hellospring_thumb {
  background-image: url("images/hellospring_thumb.jpg");
  background-size: 150%;
  background-repeat: repeat;
  background-position: 80% 50%;
}

/*FEATURE IMAGE*/

#hellospring_feature {
  background: url(images/hellospring_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 50%;
}

/*LARGE IMAGE*/

#hellospring_large_1 {
  background: url(images/hellospring_large_1.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#hellospring_large_2 {
  background: url(images/hellospring_large_2.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#hellospring_large_3 {
  background: url(images/hellospring_large_3.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#hellospring_small_1 {
  background: url(images/hellospring_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#hellospring_small_2 {
  background: url(images/hellospring_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Hope Center Logo */

/*THUMBNAIL*/

#hopecenter_thumb {
  background-image: url("images/hopecenter_thumb.jpg");
  background-size: 130%;
  background-repeat: repeat;
  background-position: 50% 90%;
}

/*FEATURE IMAGE*/

#hopecenter_feature {
  background: url(images/hopecenter_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#hopecenter_large_1 {
  background: url(images/hopecenter_large_1.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#hopecenter_large_2 {
  background: url(images/hopecenter_large_2.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#hopecenter_large_3 {
  background: url(images/hopecenter_large_3.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#hopecenter_small_1 {
  background: url(images/hopecenter_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#hopecenter_small_2 {
  background: url(images/hopecenter_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Dream Girl Screening Event */

/*THUMBNAIL*/

#dreamgirl_thumb {
  background-image: url("images/dreamgirl_thumb.jpg");
  background-size: 115%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

/*FEATURE IMAGE*/

#dreamgirl_feature {
  background: url(images/dreamgirl_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#dreamgirl_large_1 {
  background: url(images/dreamgirl_large_1.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#dreamgirl_large_2 {
  background: url(images/dreamgirl_large_2.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#dreamgirl_large_3 {
  background: url(images/dreamgirl_large_3.jpg);
  background-size: 130% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#dreamgirl_small_1 {
  background: url(images/dreamgirl_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#dreamgirl_small_2 {
  background: url(images/dreamgirl_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Kaleidoscope Television Series */

/*THUMBNAIL*/

#kaleidoscope_thumb {
  background-image: url("images/kaleidoscope_thumb.jpg");
  background-size: 110%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

/*FEATURE IMAGE*/

#kaleidoscope_feature {
  background: url(images/kaleidoscope_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#kaleidoscope_large_1 {
  background: url(images/kaleidoscope_large_1.jpg);
  background-size: 110% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#kaleidoscope_large_2 {
  background: url(images/kaleidoscope_large_2.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#kaleidoscope_large_3 {
  background: url(images/kaleidoscope_large_3.jpg);
  background-size: 110% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#kaleidoscope_small_1 {
  background: url(images/kaleidoscope_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#kaleidoscope_small_2 {
  background: url(images/kaleidoscope_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Sylvester Peck Media Website */

/*THUMBNAIL*/

#sp_thumb {
  background-image: url("images/sp_thumb.jpg");
  background-size: 170%;
  background-repeat: repeat;
  background-position: 50% 20%;
}

/*FEATURE IMAGE*/

#sp_feature {
  background: url(images/sp_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 40%;
}

/*LARGE IMAGE*/

#sp_large_1 {
  background: url(images/sp_large_1.jpg);
  background-size: 150% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#sp_large_2 {
  background: url(images/sp_large_2.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#sp_large_3 {
  background: url(images/sp_large_3.jpg);
  background-size: 130% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#sp_small_1 {
  background: url(images/sp_small_1.jpg);
  background-size: 100% auto;
  background-position: 50% 16%;
}

/*SMALL IMAGE*/

#sp_small_2 {
  background: url(images/sp_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Rachel Peck Design Branding */

/*THUMBNAIL*/

#rpdesign_thumb {
  background-image: url("images/rpdesign_thumb.jpg");
  background-size: 140%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#rpdesign_feature {
  background: url(images/rpdesign_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#rpdesign_large_1 {
  background: url(images/rpdesign_large_1.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#rpdesign_large_2 {
  background: url(images/rpdesign_large_2.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#rpdesign_large_3 {
  background: url(images/rpdesign_large_3.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#rpdesign_small_1 {
  background: url(images/rpdesign_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#rpdesign_small_2 {
  background: url(images/rpdesign_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#rpdesign_small_3 {
  background: url(images/rpdesign_small_3.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#rpdesign_small_4 {
  background: url(images/rpdesign_small_4.png);
  background-size: 100% auto;
  background-position: center;
}


/* Nokia Cellphone “Venture Out” Campaign */

/*THUMBNAIL*/

#ventureout_thumb {
  background-image: url("images/ventureout_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#ventureout_feature {
  background: url(images/ventureout_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#ventureout_large_1 {
  background: url(images/ventureout_large_1.jpg);
  background-size: 125% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#ventureout_large_2 {
  background: url(images/ventureout_large_2.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#ventureout_large_3 {
  background: url(images/ventureout_large_3.jpg);
  background-size: 120% auto;
  background-position: 50% 70%;
}

/*SMALL IMAGE*/

#ventureout_small_1 {
  background: url(images/ventureout_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#ventureout_small_2 {
  background: url(images/ventureout_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Wiko Cellphone Social Media */

/*THUMBNAIL*/

#wiko_thumb {
  background-image: url("images/wiko_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#wiko_feature {
  background: url(images/wiko_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#wiko_large_1 {
  background: url(images/wiko_large_1.jpg);
  background-size: 125% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#wiko_large_2 {
  background: url(images/wiko_large_2.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#wiko_large_3 {
  background: url(images/wiko_large_3.jpg);
  background-size: 120% auto;
  background-position: 50% 70%;
}

/*SMALL IMAGE*/

#wiko_small_1 {
  background: url(images/wiko_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#wiko_small_2 {
  background: url(images/wiko_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Pringles “Buffalo Flavors” Campaign */

/*THUMBNAIL*/

#pringles_thumb {
  background-image: url("images/pringles_thumb.jpg");
  background-size: 130%;
  background-repeat: repeat;
  background-position: 50% 90%;
}

/*FEATURE IMAGE*/

#pringles_feature {
  background: url(images/pringles_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#pringles_large_1 {
  background: url(images/pringles_large_1.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#pringles_large_2 {
  background: url(images/pringles_large_2.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#pringles_large_3 {
  background: url(images/pringles_large_3.jpg);
  background-size: 120% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#pringles_small_1 {
  background: url(images/pringles_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#pringles_small_2 {
  background: url(images/pringles_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Design Culture Now Series Event */

/*THUMBNAIL*/

#designculturenow_thumb {
  background-image: url("images/designculturenow_thumb.jpg");
  background-size: 130%;
  background-repeat: repeat;
  background-position: 50% 90%;
}

/*FEATURE IMAGE*/

#designculturenow_feature {
  background: url(images/designculturenow_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#designculturenow_large_1 {
  background: url(images/designculturenow_large_1.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#designculturenow_large_2 {
  background: url(images/designculturenow_large_2.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#designculturenow_large_3 {
  background: url(images/designculturenow_large_3.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#designculturenow_small_1 {
  background: url(images/designculturenow_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#designculturenow_small_2 {
  background: url(images/designculturenow_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Juicy Burger Bar Digital Signage */

/*THUMBNAIL*/

#digitalsignage_thumb {
  background-image: url("images/digitalsignage_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 20%;
}

/*FEATURE IMAGE*/

#digitalsignage_feature {
  background: url(images/digitalsignage_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 40%;
}

/*SMALL IMAGE*/

#digitalsignage_small_1 {
  background: url(images/digitalsignage_small_1.jpg);
  background-size: 100% auto;
  background-position: 50% 16%;
}

/*SMALL IMAGE*/

#digitalsignage_small_2 {
  background: url(images/digitalsignage_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Texting & Driving PSA */

/*THUMBNAIL*/

#psa_thumb {
  background-image: url("images/psa_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 20%;
}

/*FEATURE IMAGE*/

#psa_feature {
  background: url(images/psa_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 40%;
}

/*SMALL IMAGE*/

#psa_small_1 {
  background: url(images/psa_small_1.jpg);
  background-size: 100% auto;
  background-position: 50% 16%;
}

/*SMALL IMAGE*/

#psa_small_2 {
  background: url(images/psa_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Hamburg, NY Map */

/*THUMBNAIL*/

#hamburgmap_thumb {
  background-image: url("images/hamburgmap_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
  background-position: 80% 50%;
}

/*FEATURE IMAGE*/

#hamburgmap_feature {
  background: url(images/hamburgmap_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 90%;
}

/*LARGE IMAGE*/

#hamburgmap_large_1 {
  background: url(images/hamburgmap_large_1.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#hamburgmap_large_2 {
  background: url(images/hamburgmap_large_2.jpg);
  background-size: 110% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#hamburgmap_large_3 {
  background: url(images/hamburgmap_large_3.jpg);
  background-size: 100% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#hamburgmap_small_1 {
  background: url(images/hamburgmap_small_1.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#hamburgmap_small_2 {
  background: url(images/hamburgmap_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}



/*END OF PROJECT CONTENT IMAGES*/
