/*FONTS

KOROLEV

    font-family: "korolev",sans-serif;
    THIN
      font-weight: 200;
    LIGHT
      font-weight: 300;
    BOLD
      font-weight: 700;

KOROLEV CONDENSED
    font-family: "korolev-condensed",sans-serif;
    THIN
      font-weight: 200;
    LIGHT
      font-weight: 300;
    BOLD
      font-weight: 700;
*/


/* COLORS

Main Blue
    color: rgba(116,204,209,1);

Light Gray
    color: rgba(82,94,94,1);
Dark Gray
    color: rgba(70,81,81,1);
White
    color: rgba(255,255,255,1);

*/


/*DO THIS TO EVERY STYLE SHEET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*TYPEKIT - Flash of unstyled text*/

.wf-loading {
/* styles to use when web fonts are loading */

font-family: "droid-sans";
visibility: hidden;
}

.wf-active {
/* styles to use when web fonts are active */

  visibility: visible;
}

.wf-inactive {
/* styles to use when web fonts are inactive */
}


/*BACKGROUND*/

body {
  /*background: center bottom url(images/nyc_blue.jpg) no-repeat;*/
  /*background: center bottom url(images/nyc_bw.jpg) no-repeat;*/
  background: center bottom url(images/background.jpg) no-repeat;
  /*background-color: rgba(185,215,217,.5)*/
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body, html {
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}


/*END OF BACKGROUND*/
/*NAVBAR*/

#navbar {
  background: rgba(116, 204, 209, 1);
  /*background: rgba(116,204,209,0.5);*/
  width: 100%;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#navbar ul li {
  display: inline-flex;
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.04em;

  justify-content: center;
  text-align: center;
}

#navbar a {
  text-decoration: none;
  color: rgba(82, 94, 94, 1);
}

#navbar ul li img {
  width: 100%;
  height: auto;
}

#navbar ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

#navbar ul li a.active {
  color: rgba(116, 204, 209, 1);
}

.hamburger {
  display: flex;
  justify-content: flex-end;
}

.hamburger i {
  color: #fff;
  font-size: 2rem;
}

.hamburger img{
  width: 2.25rem;
  height: 2.25rem;
}


/*END OF NAV BAR*/
/*GENERAL CONTENT*/

.content {
  margin: 2rem;
}

.column {
  flex-direction: column;
  flex: 1;
}

h1 {
  font-weight: 300;
  font-size: 3em;
  /*letter-spacing: 0.04em;*/
  letter-spacing: 0.01em;
  font-family: "korolev-condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(116, 204, 209, 1);
  /*line-height: -1.25em;*/
  /*padding-bottom:1rem;*/
}

h2 {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0.04em;
  font-family: "korolev-condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(116, 204, 209, 1);
  line-height: 1.25em;
}

h3 {
  font-weight: 300;
  font-size: 1.85em;
  letter-spacing: 0.04em;
  font-family: "korolev-condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(116, 204, 209, 1);
  line-height: 1.25em;
}

h4 {
  font-family: "korolev", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
  color: rgba(82, 94, 94, 1);
  line-height: normal;
}

h5 {
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  /*letter-spacing: 0.04em;*/
  letter-spacing: 0.04em;
  font-size: 1.5rem;
  color: rgba(255,255,255,1);
}

h6 {
  font-family: "korolev", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  /*font-size: 1.30rem;*/
  letter-spacing: 0.01em;
  color: rgba(255,255,255,1);
  line-height: normal;
}

p {
  font-weight: 300;
  /*font-size: 1.4em;*/
  font-size: 1.30em;
  font-family: "korolev", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(82, 94, 94, 1);
  line-height: normal;
  /*margin-top: 0.75em;*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text {
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: rgba(255, 255, 255, .87);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
}

.text a {
  text-decoration: none;
  color: rgba(116, 204, 209, 1);
  font-size: 1.3rem;
}

.text a:hover {
  text-decoration: none;
  color: rgba(82, 94, 94, .85);
}


/*END OF GENERAL CONTENT*/
/*GALLERY*/

.gallery {
  width: 100%;
  padding: 1.5rem;
  height:100%;
  margin:auto;

  /*Me Before Ben*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /*BEN/GRID -- works!*/
  /*display:grid;*/
  /*grid-template-columns: 25% 25% 25% 25%;*/
}

.gallery a{
  text-decoration: none;
}

.card {
  min-height: 300px;
  max-height: 400px;
  margin-bottom: 1.25rem;
  background-position: center center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);

  /*BEN/GRID -- works!*/
  /*margin:8px;*/
  /*width: 100%;*/

  /*Me Before Ben*/
  display: flex;
  background: #fff;
  min-width: 24%;
  max-width: 24%;
}

  /*BEN/GRID -- works!*/
/*@media screen and (max-width:500px){
  .gallery{
    grid-template-columns: 50% 50%;
  }
}*/


/*USE LASTCARD ONLY ON LAST ELEMENT OF ROW OF 2*/

.lastcard {
  display: flex;
  background: #fff;
  min-width: 24%;
  max-width: 24%;
  min-height: 300px;
  max-height: 400px;
  margin-bottom: 1.25rem;
  background-position: center center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
}

.overlay {
  background: rgba(82, 94, 94, .90);
  color: #fff;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: opacity ease .4s;
  padding: 2rem;
}

.overlay:hover {
  opacity: 1;
}


/*END OF GALLERY*/
/*CONSTRUCTION PAGE*/

#construction {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, .87);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
  text-align: center;
}

#construction img {
  width: 18rem;
  height: auto;
  margin: 2.25rem;
}

#construction a {
  text-decoration: none;
  color: rgba(116, 204, 209, 1);
}

#construction a:hover {
  text-decoration: none;
  color: rgba(82, 94, 94, .85);
}


/*END OF CONSTRUCTION PAGE*/
/* INDEX CONTENT */

#indexcontent {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-family: "korolev", sans-serif;
  align-items: center;
}

#indextext {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

/*REVISIT INDEX2*/

#indexcontent2 {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-family: "korolev", sans-serif;
  justify-content: space-between;
  /*align-items: center;*/
}


#index2text {
  max-width: 45%;
  min-height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/*REVISIT INDEX2*/

.indexcard {
  min-height: 200px;
  max-height: 300px;
  background-position: center center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);

  /*BEN/GRID -- works!*/
  /*margin:8px;*/
  /*width: 100%;*/

  /*Me Before Ben*/
  display: flex;
  background: #fff;
  min-width: 49%;
  max-width: 49%;
}

#homelogo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding-right: 2rem;
}

#homelogo img {
  width: 100%;
  height: auto;
  text-shadow: 0.75px 0.75px 0.5px rgba(70, 81, 81, 0.5);
}

#signature {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*padding-right: 2rem;*/
}

#signature img {
  max-width: 40%;
  height: auto;
}

/*REVISIT INDEX2*/

#indexarrow{
  display: flex;
  padding-bottom: 0.75rem;
}

#indexarrow h2{
  display: flex;
  align-items: center;
}

#indexarrow a{
  display: flex;
  align-items: center;
}

#indexarrow a:hover{
  opacity: 0.5;
}

#indexarrow h2 a img{
  width: 2.0rem;
  height: 2.0rem;
  margin-right: 0.5rem;
}

/*REVISIT INDEX2*/

.indexgallery {
  width: 100%;
  padding: 1.5rem;
  height:100%;
  margin:auto;

  /*Me Before Ben*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}





/* END OF INDEX CONTENT */
/*ABOUT CONTENT*/

#aboutcontent {
  display: flex;
  flex-direction: column;
}

#abouttext {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.aboutsection {
  display: flex;
  flex-direction: row;
}

.aboutpic {
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
  overflow: hidden;
}

  /*ABOUT IMAGES*/

#portrait {
  background: url(images/about_portrait.jpg) fixed no-repeat;
  background-size: 50% auto;
  background-position: right 25%;
}

#grad {
  background: url(images/about_grad.jpg) fixed no-repeat;
  background-size: 55%;
  background-position: 0% 0%;
}

#designer {
  background: url(images/about_designer.jpg) fixed no-repeat;
  background-size: 55%;
  background-position: 103% 10%;
}

#city {
  background: url(images/about_city.jpg) fixed;
  background-size: 55%;
  background-position:0% 0%;
}

#funfact{
  background: url(images/about_theater.jpg) fixed;
  background-size: 60%;
  background-position: right 75%;
}

#coffee{
  background: url(images/about_coffee.jpg) fixed;
  background-size: 55%;
  background-position: 0% 0%;
}


/*END OF ABOUT CONTENT*/
/*WORK CONTENT*/

#workcontent {
  display: flex;
  /*justify-content: center;*/
  flex: 1;
  flex-direction: column;
  font-family: "korolev", sans-serif;
}

#filter {
  width: 100%;
  background-color: rgba(255, 255, 255, .87);
  padding: 2rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#filter button {
  display: inline-flex;
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.04em;
  color: rgba(82, 94, 94, 1);
  border: none;
  background: none;
  cursor: pointer;
  /*color: rgba(116,204,209,1);*/
}

#filter button:hover {
  color: rgba(116, 204, 209, 1);
}

.hamburgerfilter {
  display: flex;
  justify-content: flex-end;
}

.hamburgerfilter i {
  color: #fff;
  font-size: 2rem;
}

.hamburgerfilter img{
  width: 2.25rem;
  height: 2.25rem;
}


  /*Project Content Images At End of Sheet Before Responsive*/


/*END OF WORK CONTENT*/
/*PROJECT PAGE CONTENT*/

#projectcontent{
  display: flex;
  flex-direction: column;
}

#finalprojecttext {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.finalprojectpic {
  width: 100%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.largeprojectpic {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  background: rgba(255,255,255,1);
}

.large2{
  min-width: 50%;
  min-height: 100%;
  display: flex;
  opacity:1;
}

.large2:hover{
  opacity: 0.80;
}

.large3{
  min-width: 33.3%;
  min-height: 100%;
  display: flex;
  opacity:1;
}

.large3:hover{
  opacity: 0.80;
}

.large4{
  min-width: 25%;
  min-height: 100%;
  display: flex;
  opacity:1;
}

.large4:hover{
  opacity: 0.80;
}

#final{
  background: url(images/portrait.jpg) fixed no-repeat;
  background-size: 100% auto;
  background-position: right 25%;
}

#projectarrow{
  display: flex;
  padding-bottom: 0.75rem;
}

#projectarrow p{
  display: flex;
  align-items: center;
}

#projectarrow a{
  display: flex;
  align-items: center;
}

#projectarrow a:hover{
  opacity: 0.5;
}

#projectarrow p a img{
  width: 2.0rem;
  height: 2.0rem;
  margin-right: 0.5rem;
}

/*SLIDESHOW*/

#slideshow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100%;
}

.slideshow-container{
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: -1;
}

.projectimage{
  display: none;
  flex-direction: column;
  max-width: 33.3%;
  height: auto;
  z-index: -1;
  overflow: hidden;
}

.projectimage img{
  max-width: 100%;
  height: auto;
  overflow: hidden;
  z-index: -1;
}

#slidebuttons{
  display: flex;
  /*flex:1;*/
  align-items: center;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slidetext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#dots{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 1rem;
  width: 1rem;
  margin: 0.25rem;
  background-color: #bbb;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*END OF SLIDESHOW*/


.projectsection {
  display: flex;
  flex-direction: row;
}



#projecttext {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.projectpic {
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
  overflow: hidden;
}


/*END OF PROJECT PAGE CONTENT*/
/* RESUME CONTENT */

#resumecontent {
  display: flex;
  flex-direction: row;
}

#resumetext {
  width: 30%;
}

#resumepic {
  display: flex;
  justify-content: center;
  width: 70%;
  height: auto;
  padding: 2rem;
}

#resumepic img {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
}


/*END OF RESUME CONTENT*/
/*PHOTOGRAPHY CONTENT*/

#photocontent {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "korolev", sans-serif;
}

#phototext {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#photopic {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  background: url(images/portrait.jpg) fixed no-repeat;
  background-size: 100% auto;
  background-position: right 25%;
}


/*END OF PHOTOGRAPHY CONTENT*/
/*CLASS WEBSITE - HIDDEN PAGE FOR BLOG*/

#dma h1 {
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.04em;
  color: rgba(82, 94, 94, 1);
}

#dma a {
  text-decoration: none;
  color: rgba(116, 204, 209, 1);
}

#dma {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.04em;
  text-align: center;
  background: #fff;
}

#dma a:hover {
  color: rgba(82, 94, 94, 1);
}


/*END OF CLASS WEBSITE*/
/*FOOTER*/

footer {
  background: rgba(116, 204, 209, 1);
  /*background: rgba(116,204,209,0.5);*/
  width: 100%;
  bottom: 0;
  padding: 0.75rem;
}

#footercontent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(82, 94, 94, 1);
  font-family: "korolev", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  letter-spacing: 0em;
}

footer a img {
  width: 2.5rem;
  height: auto;
}

footer a img:hover {
  text-decoration: none;
  fill: rgba(82, 94, 94, .85);
  opacity: 0.25;
}

#email a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#email a {
  text-decoration: none;
  color: rgba(82, 94, 94, 1);
}

#email a img {
  margin-right: .5rem;
}

#icons {
  display: flex;
}

#icons a {
  margin: 0.2rem;
}


/*END OF FOOTER*/
/*PROJECT CONTENT IMAGES*/


/* Intern Onboarding Kit for The Martin Group */

/*THUMBNAIL*/

#martin_thumb {
  background-image: url("images/martin_thumb.jpg");
  background-size: 120%;
  background-repeat: repeat;
}

/*FEATURE IMAGE*/

#martin_feature {
  background: url(images/martin_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: right 30%;
}

/*SMALL IMAGE*/

#martin_small_1 {
  background: url(images/martin_small_1.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#martin_small_2 {
  background: url(images/martin_small_2.png);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#martin_small_3 {
  background: url(images/martin_small_3.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#martin_small_4 {
  background: url(images/martin_small_4.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}


/* ADDY Award Winning CMYK Publication */

/*THUMBNAIL*/

#cmyk_thumb {
  background-image: url("images/cmyk_thumb.jpg");
  background-size: 140%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#cmyk_feature {
  background: url(images/cmyk_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#cmyk_large_1 {
  background: url(images/cmyk_large_1.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#cmyk_large_2 {
  background: url(images/cmyk_large_2.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#cmyk_large_3 {
  background: url(images/cmyk_large_3.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#cmyk_small_1 {
  background: url(images/cmyk_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#cmyk_small_2 {
  background: url(images/cmyk_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#cmyk_small_3 {
  background: url(images/cmyk_small_3.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#cmyk_small_4 {
  background: url(images/cmyk_small_4.png);
  background-size: 100% auto;
  background-position: center;
}


/* Canisius Quadrangle 2016 */

/*THUMBNAIL*/

#quadrangle_thumb {
  background-image: url("images/quadrangle_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#quadrangle_feature {
  background: url(images/quadrangle_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 70%;
}

/*SMALL IMAGE*/

#quadrangle_small_1 {
  background: url(images/quadrangle_small_1.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#quadrangle_small_2 {
  background: url(images/quadrangle_small_2.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#quadrangle_small_3 {
  background: url(images/quadrangle_small_3.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}

/*SMALL IMAGE*/

#quadrangle_small_4 {
  background: url(images/quadrangle_small_4.jpg);
  background-size: 100% auto;
  background-position: 100% 50%;
}


/* Juicy Burger Bar Restuarant */

/*THUMBNAIL*/

#juicy_thumb {
  background-image: url("images/juicy_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#juicy_feature {
  background: url(images/juicy_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#juicy_large_1 {
  background: url(images/juicy_large_1.jpg);
  background-size: 125% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#juicy_large_2 {
  background: url(images/juicy_large_2.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#juicy_large_3 {
  background: url(images/juicy_large_3.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#juicy_small_1 {
  background: url(images/juicy_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#juicy_small_2 {
  background: url(images/juicy_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#juicy_small_3 {
  background: url(images/juicy_small_3.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#juicy_small_4 {
  background: url(images/juicy_small_4.png);
  background-size: 100% auto;
  background-position: center;
}


/* Green Friday */

/*THUMBNAIL*/

#greenfriday_thumb {
  background-image: url("images/greenfriday_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 30%;
}

/*FEATURE IMAGE*/

#greenfriday_feature {
  background: url(images/greenfriday_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#greenfriday_large_1 {
  background: url(images/greenfriday_large_1.jpg);
  background-size: 125% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#greenfriday_large_2 {
  background: url(images/greenfriday_large_2.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#greenfriday_large_3 {
  background: url(images/greenfriday_large_3.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#greenfriday_small_1 {
  background: url(images/juicy_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#greenfriday_small_2 {
  background: url(images/juicy_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}


/* Carte Blanche */

/*THUMBNAIL*/

#carteblanche_thumb {
  background-image: url("images/carteblanche_thumb.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-position: 50% 50%;
}

/*FEATURE IMAGE*/

#carteblanche_feature {
  background: url(images/carteblanche_feature.jpg) fixed;
  background-size: 100% auto;
  background-position: 50% 65%;
}

/*LARGE IMAGE*/

#carteblanche_large_1 {
  background: url(images/carteblanche_large_1.jpg);
  background-size: 125% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#carteblanche_large_2 {
  background: url(images/carteblanche_large_2.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*LARGE IMAGE*/

#carteblanche_large_3 {
  background: url(images/carteblanche_large_3.jpg);
  background-size: 105% auto;
  background-position: center center;
}

/*SMALL IMAGE*/

#carteblanche_small_1 {
  background: url(images/carteblanche_small_1.jpg);
  background-size: 105% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#carteblanche_small_2 {
  background: url(images/carteblanche_small_2.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#carteblanche_small_3 {
  background: url(images/carteblanche_small_3.jpg);
  background-size: 100% auto;
  background-position: center;
}

/*SMALL IMAGE*/

#carteblanche_small_4 {
  background: url(images/carteblanche_small_4.png);
  background-size: 100% auto;
  background-position: center;
}


/*END OF PROJECT CONTENT IMAGES*/





/*RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE*/


/*MOBILE RESPONSIVE*/

@media (max-width:1024px) {
  #content {
    flex-direction: column;
  }
  #navbar {
    flex-direction: column;
  }
}


/*PHONE*/

@-ms-viewport {
  width: device-width;
}


/*HIDING ON INDEX (LOGO)*/

@media (min-width:1024px) {
  #hideindex {
    display: none;
  }

  #hideicon{
    display: none;
  }
}


/* NAV BAR TOGGLE */

.visible {
  display: block !important;
}


/* PHONE PHONE PHONE PHONE PHONE */

@media (min-width:0px) and (max-width:500px) {

/*NAVBAR*/

  #hideindex2 {
      display: none;
    }

  .mobile {
      display: none;
    }

  #navbar{
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #navbar ul li{
    line-height: 1.5em;
  }

  #navbar ul li img {
    width: 100%;
    height: auto;
  }

  #mobilelogo img {
    width: 100%;
    height: auto;
  }


/*END OF NAVBAR*/
/*GENERAL CONTENT*/

  #homelogo {
    display: none;
  }

  .content {
    margin: 1.5rem;
  }

  h2 {
    font-size: 1.75em;
  }

  h3{
    font-size: 1.75em;
  }

  h4{
    font-size: 1.75em;
  }

  p {
    font-size: 1.15em;
  }

  .text {
    width: 100%;
    padding: 1.5rem;
  }

  .text a {
  }


/*END OF GENERAL CONTENT*/
/*GALLERY*/

#gallerymargin{
  padding: 1.5rem;
}

.gallery{
  padding: 1.5rem;
  flex-direction: column;
}

.card{
  min-width: 100%;
}


/*END OF GALLERY*/
/*CONSTRUCTION PAGE*/

#construction{
  padding: 1.5rem;
}

/*END OF CONSTRUCTION PAGE*/
/*INDEX CONTENT*/

#indextext{
  width: 100%;
  padding: 1.5rem;
}

/*END OF INDEX CONTENT*/
/*ABOUT CONTENT*/

.aboutsection{
  flex-direction: column;
}

#abouttext{
  width: 100%;
}

.aboutpic{
  width: 100%;
  min-height: 40vh;
}

#switchmobile{
  flex-direction: column-reverse;
}


/*END OF ABOUT CONTENT*/
/*WORK CONTENT*/

#filter{
  padding: 1.5em;
  flex-direction: column;
}

#filter button{
  line-height: 1.5em;
}


/*END OF WORK CONTENT*/
/*PROJECT CONTENT*/

.projectsection{
  flex-direction: column;
}

#projecttext{
  width: 100%;
}

.projectpic{
  width: 100%;
  min-height: 30vh;
}

.finalprojectpic{
min-height: 30vh;
}

#switchmobile{
  flex-direction: column-reverse;
}


/*END OF PROJECT PAGE CONTENT*/
/*RESUME CONTENT*/

#resumecontent{
  flex-direction: column;
  flex-direction: column-reverse;
}

#resumetext{
  width: 100%;
}

#resumepic{
  width: 100%;
  padding: 1.5rem;
}


/*END OF RESUME CONTENT*/
/*PHOTOGRAPHY CONTENT*/

#photopic{
  min-height: 30vh;
}


/*END OF PHOTOGRAPHY CONTENT*/
/*FOOTER*/

footer {
  /*padding: 0.25rem;*/
  padding: 1rem;
}

#footercontent {
  flex-direction: column-reverse;
  font-size: 1em;
  /*font-size: 1em;*/
}
#email {
  display: none;
}

footer a img{
  width: 2.25em;
}

#footercontent p{
  display: none;
}

/*#homearrow{
  display: none;
}*/


/*END OF FOOTER*/

  #textlinks {
    flex-direction: column;
    align-items: flex-start;
  }
  #textlinks p {
    font-size: 1.5em;
  }

}

/*TABLET TABLET TABLET TABLET TABLET*/

/*FROM BEFORE*/
/*@media (min-width:501px) and (max-width:1200px){}*/

@media (min-width:501px) and (max-width:1023px) {

/*NAVBAR*/

#hideindex{
  display: none;
}

#navbar{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#navbar ul li{
  font-size: 1.95em;
}

#hideindex2{
  display: none;
}


/*END OF NAVBAR*/
/*GENERAL CONTENT*/

h2 {
  font-size: 2em;
}

h3{
  font-size: 1.85em;
}

h4{
  font-size: 1.75em;
}

p {
  font-size: 1.25em;
}


/*END OF GENERAL CONTENT*/
/*GALLERY*/

.card{
  min-width: 49%;
}




/*END OF GALLERY*/
/*CONSTRUCTION PAGE*/



/*END OF CONSTRUCTION PAGE*/
/*INDEX CONTENT*/

  #indexcontent{
    flex-direction: column;
  }

  #homelogo{
    width: 100%;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #indextext{
    width: 100%;
  }


/*END OF INDEX CONTENT*/
 /*ABOUT CONTENT*/

 .aboutpic{
   min-height: 30vh;
 }


 /*END OF ABOUT CONTENT*/
 /*WORK CONTENT*/



 /*END OF WORK CONTENT*/
 /*PROJECT CONTENT*/

  .finalprojectpic{
  min-height: 30vh;
  }

   .projectpic{
     min-height: 30vh;
   }


 /*END OF PROJECT PAGE CONTENT*/
 /*RESUME CONTENT*/

   #resumecontent{
     flex-direction: column;
     flex-direction: column-reverse;
   }

   #resumetext{
     width: 100%;
   }

   #resumepic{
     width: 100%;
     height: auto;
     padding: 1.5rem;
   }


 /*END OF RESUME CONTENT*/
 /*PHOTOGRAPHY CONTENT*/

  #photopic{
    min-height: 30vh;
  }


 /*END OF PHOTOGRAPHY CONTENT*/
 /*FOOTER*/

 footer {
    padding: 1rem;
  }
  #footercontent {
    flex-direction: column-reverse;
    font-size: 1em;
    /*font-size: 1em;*/
  }
  #email {
    display: none;
  }

  footer a img{
    width: 3em;
  }

  #icons a{
    margin: 0.3rem;
  }

  #footercontent p{
    padding-bottom: 0.75rem;
    display: flex;
  }

  #footercontent p a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    margin-left: 0.3rem;
  }

  /*#homearrow{
    display: flex;
    padding-bottom: 0.75rem;
    font-size: 1.25em;
  }

  #homearrow p,a{
    display: flex;
    align-items: center;
  }

  #homearrow p a img{
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
  }*/


 /*END OF FOOTER*/

}


/*DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP*/

@media (min-width:1024px){

/*NAVBAR*/



/*END OF NAVBAR*/
/*GENERAL CONTENT*/



/*END OF GENERAL CONTENT*/
/*GALLERY*/



/*END OF GALLERY*/
/*CONSTRUCTION PAGE*/



/*END OF CONSTRUCTION PAGE*/
/*INDEX CONTENT*/



/*END OF INDEX CONTENT*/
/*ABOUT CONTENT*/



/*END OF ABOUT CONTENT*/
/*WORK CONTENT*/



/*END OF WORK CONTENT*/
/*PROJECT CONTENT*/



/*END OF PROJECT PAGE CONTENT*/
/*RESUME CONTENT*/



/*END OF RESUME CONTENT*/
/*PHOTOGRAPHY CONTENT*/



/*END OF PHOTOGRAPHY CONTENT*/
/*FOOTER*/

  #footercontent p{
    display: none;
  }


/*END OF FOOTER*/

}



/*CARD - FROM WORK BEN/CODEPEN*/
/*Maybe have to get rid of to work with filter*/

@media (min-width:501px) and (max-width:1169px) {
  .card {
    width:49%;
  }

  .lastcard{
    width:49%;
  }

  .card:last-child {
  margin-right:auto;
  margin-left:2%;
  }
}

/*DESKTOP 1170*/

@media (min-width:1170px) {
  .card {
    width: 24%;
  }
  /*USE LASTCARD ONLY ON LAST ELEMENT OF ROW OF 2*/
  .lastcard {
    width: 24%;
  }
  .lastcard:last-child {
    margin-right: auto;
    margin-left: 1.333333333%;
  }
}
