/*FONTS

KOROLEV

    font-family: "korolev",sans-serif;
    THIN
      font-weight: 200;
    LIGHT
      font-weight: 300;
    BOLD
      font-weight: 700;

KOROLEV CONDENSED
    font-family: "korolev-condensed",sans-serif;
    THIN
      font-weight: 200;
    LIGHT
      font-weight: 300;
    BOLD
      font-weight: 700;
*/


/* COLORS

Main Blue
    color: rgba(116,204,209,1);

Light Gray
    color: rgba(82,94,94,1);
Dark Gray
    color: rgba(70,81,81,1);
White
    color: rgba(255,255,255,1);

*/


/*DO THIS TO EVERY STYLE SHEET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* BACKGROUND */

body {
  /*background: center bottom url(images/nyc_blue.jpg) no-repeat;*/
  /*background: center bottom url(images/nyc_gray.jpg) no-repeat;*/
  background: center bottom url(images/nyc_bw.jpg) no-repeat;
  /*background: center bottom url(images/nyc_banner_2.jpg) no-repeat;*/
  /*background-color: rgba(185,215,217,.5)*/
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body, html {
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* END OF BACKGROUND */
/* NAVBAR */


/*TEST*/

#testnav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#poop {
  display: flex;
  justify-content: center;
}

#poop a{
  display: flex;
  justify-content: center;
}

#bleh1{

  background: red;
}

#bleh1 ul li{
  /*justify-content: space-between;*/


}


/*END OF TEST*/

#navbar {
  background: rgba(116, 204, 209, 1);
  /*background: rgba(116,204,209,0.5);*/
  width: 100%;
  /*padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0rem;
    padding-right: 0rem;*/
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#navbar ul li {
  display: inline-flex;
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.04em;
}

#navbar a {
  text-decoration: none;
  color: rgb(82, 94, 94);
}

#navbar ul li img {
  width: 100%;
  height: auto;
}

#navbar ul li a:hover {
  color: rgba(255, 255, 255, 1);
}

#navbar ul li a.active {
  color: rgba(116, 204, 209, 1);
}

.hamburger {
  display: flex;
  justify-content: flex-end;
}

.hamburger i {
  color: #fff;
  font-size: 2rem;
}


/* END OF NAV BAR */
/* GENERAL CONTENT */

.content {
  margin: 2rem;
}

.column {
  flex-direction: column;
  flex: 1;
}

h2 {
  font-weight: 300;
  font-size: 3em;
  /*letter-spacing: 0.04em;*/
  letter-spacing: 0.01em;
  font-family: "korolev-condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(116, 204, 209, 1);
  /*line-height: -1.25em;*/
  /*padding-bottom:1rem;*/
}

h3 {
  font-weight: 300;
  font-size: 2em;
  letter-spacing: 0.04em;
  font-family: "korolev-condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(116, 204, 209, 1);
  line-height: 1.25em;
}

h4 {
  font-weight: 300;
  font-size: 1.7em;
  letter-spacing: 0.04em;
  font-family: "korolev-condensed", sans-serif;
  text-transform: uppercase;
  color: rgba(116, 204, 209, 1);
  line-height: 1.25em;
}

p {
  font-weight: 300;
  /*font-size: 1.4em;*/
  font-size: 1.3em;
  font-family: "korolev", sans-serif;
  letter-spacing: 0.01em;
  color: rgba(82, 94, 94, 1);
  line-height: normal;
  /*margin-top: 0.75em;*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text {
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: rgba(255, 255, 255, .87);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
}

.text a {
  text-decoration: none;
  color: rgba(116, 204, 209, 1);
  font-size: 1.3rem;
}

.text a:hover {
  text-decoration: none;
  color: rgba(82, 94, 94, .85);
}


/*END OF GENERAL CONTENT*/
/*GALLERY*/

#gallerymargin {
  padding: 2rem;
}

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: center;*/
  /*change for no-margin*/
  justify-content: space-between;
  /*change for margin*/
}

.gallery a {
  text-decoration: none;
}

.card {
  display: flex;
  background: #fff;
  min-width: 24%;
  min-height: 300px;
  max-height: 400px;
  margin-bottom: 1.25rem;
  /*change for margin*/
  background-position: center center;
}


  /*USE LASTCARD ONLY ON LAST ELEMENT OF ROW OF 2*/

.lastcard {
  display: flex;
  background: #fff;
  min-width: 24%;
  min-height: 300px;
  max-height: 400px;
  margin-bottom: 1rem;
  /*change for margin*/
  /*height:160px;*/
  background-position: center center;
}

.overlay {
  background: rgba(82, 94, 94, .90);
  color: #fff;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: opacity ease .4s;
  font-family: "korolev", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0em;
  padding-left: 2rem;
  padding-right: 2rem;
}

.overlay:hover {
  opacity: 1;
}

.title {
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  /*letter-spacing: 0.04em;*/
  letter-spacing: 0.02em;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.comingsoon {
  background: rgba(82, 94, 94, .90);
  color: #fff;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: opacity ease .4s;
  font-family: "korolev", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0em;
  padding-left: 2rem;
  padding-right: 2rem;
}


/*END OF GALLERY*/
/*CONSTRUCTION PAGE*/

#construction {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*align-content: center;*/
  padding: 2rem;
  background-color: rgba(255, 255, 255, .87);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
  text-align: center;
}

#construction img {
  width: 18rem;
  height: auto;
  margin: 2.25rem;
}

#construction a {
  text-decoration: none;
  color: rgba(116, 204, 209, 1);
}

#construction a:hover {
  text-decoration: none;
  color: rgba(82, 94, 94, .85);
}


/*END OF CONSTRUCTION PAGE*/
/* INDEX CONTENT */

#indexcontent {
  display: flex;
  flex: 1;
  flex-direction: row;
  font-family: "korolev", sans-serif;
  align-items: center;
}

#indextext {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#homelogo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  padding-right: 2rem;
}

#homelogo img {
  width: 100%;
  height: auto;
  text-shadow: 0.75px 0.75px 0.5px rgba(70, 81, 81, 0.5);
}

#signature {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*padding-right: 2rem;*/
}

#signature img {
  max-width: 40%;
  height: auto;
}


/*a i {
  color: #fff;
  text-decoration: none;
  font-size: 3em;
}

i:hover{
  color: rgba(82,94,94,1);
}*/

#textlinks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}

#textlinks p {
  font-size: 1.6em;
}


/* END OF INDEX CONTENT */
/*ABOUT CONTENT*/

#aboutcontent {
  display: flex;
  flex-direction: column;
}

#abouttext {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.aboutsection {
  display: flex;
  flex-direction: row;
}

.aboutpic {
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
  overflow: hidden;
}


  /*ABOUT IMAGES*/

#portrait {
  background: url(images/portrait.jpg) fixed no-repeat;
  background-size: 50% auto;
  background-position: right 25%;
}

#graduation {
  background: url(images/buffalomapshirt_large.jpg) fixed no-repeat;
  background-size: 50% auto;
  background-position: left;
}


/*END OF ABOUT CONTENT*/
/*WORK CONTENT*/

#workcontent {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "korolev", sans-serif;
}

#filter {
  width: 100%;
  background-color: rgba(255, 255, 255, .87);
  padding: 2rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
}

#filter ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#filter ul li {
  display: inline-flex;
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.04em;
  color: rgba(82, 94, 94, 1);
  /*color: rgba(116,204,209,1);*/
}

#filter a {
  text-decoration: none;
  color: rgb(82, 94, 94);
}

#filter ul li a:hover {
  color: rgba(116, 204, 209, 1);
}


  /* PUT PROJECT IMAGES HERE */

#c1 {
  background-image: url("images/shirtphoto2_small.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#c2 {
  background-image: url("images/martin_02.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

#c3 {
  background-image: url("images/carteblanche_small.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;
}

#c4 {
  background-image: url("images/cmykcover_large.jpg");
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}

#c5 {
  background-image: url("images/comnewsletter1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#c6 {
  background-image: url("images/lloydmenu3.png");
  background-size: 250%;
  background-repeat: no-repeat;
  background-position: 90% 7%;
}

#c7 {
  background-image: url("images/designculturenow2_small.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 23%;
}

#c8 {
  background-image: url("images/ventureout4.png");
  background-size: 250%;
  background-repeat: no-repeat;
  background-position: 31% 16%;
}


/*#pr1 {
  background-image:url(http://rachelpeckdesign.com/images/p_quadcmyk.jpg);
}*/

/*END OF WORK CONTENT*/
/* RESUME CONTENT */

#resumecontent {
  display: flex;
  flex-direction: row;
}

#resumetext {
  width: 30%;
}

#resumepic {
  display: flex;
  justify-content: center;
  width: 70%;
  height: auto;
  padding: 2rem;
}

#resumepic img {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.20);
}


/*END OF RESUME CONTENT*/
/*PHOTOGRAPHY CONTENT*/

#wphotocontent {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "korolev", sans-serif;
}

#phototext {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#photopic {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  background: url(images/portrait.jpg) fixed no-repeat;
  background-size: 100% auto;
  background-position: right 25%;
}


/*END OF PHOTOGRAPHY CONTENT*/
/* CLASS WEBSITE - HIDDEN PAGE FOR BLOG*/

#dma h1 {
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.04em;
  color: rgba(82, 94, 94, 1);
}

#dma a {
  text-decoration: none;
  color: rgba(116, 204, 209, 1);
}

#dma {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  font-family: "korolev-condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.04em;
  text-align: center;
  background: #fff;
}

#dma a:hover {
  color: rgba(82, 94, 94, 1);
}


/*END OF CLASS WEBSITE*/
/* FOOTER */

footer {
  background: rgba(116, 204, 209, 1);
  /*background: rgba(116,204,209,0.5);*/
  width: 100%;
  bottom: 0;
  padding: 0.75rem;
}

#footercontent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: rgba(82, 94, 94, 1);
  font-family: "korolev", sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  letter-spacing: 0em;
}

footer a img {
  width: 2.5rem;
  height: auto;
  /*display:inline;*/
  fill: #fff;
}

footer a img:hover {
  text-decoration: none;
  fill: rgba(82, 94, 94, .85);
  opacity: 0.25;
}

#email a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#email a {
  text-decoration: none;
  color: rgba(82, 94, 94, 1);
}

#email a img {
  margin-right: .5rem;
}

#icons {
  display: flex;
}

#icons a {
  margin: 0.2em;
}


/*FIX THIS*/

/*#icons a svg {
  fill:red;
}*/

/*END OF FOOTER*/





/*RESPONSIVE*/


/* MOBILE RESPONSIVE */

@media (max-width:1000px) {
  #content {
    flex-direction: column;
  }
  #navbar {
    flex-direction: column;
  }
}


/*PHONE*/

@-ms-viewport {
  width: device-width;
}


/*HIDING LOGO ON INDEX*/

@media (min-width:1200px) {
  #hideindex {
    display: none;
  }
}


/* NAV BAR TOGGLE */

.visible {
  display: block !important;
}


/* PHONE */

@media (min-width:0px) and (max-width:500px) {
  #hideindex2 {
    display: none;
  }
  #navbar {
    padding: 0rem;
  }
  .mobile {
    display: none;
  }
  #navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #navbar ul li img {
    width: 100%;
    height: auto;
  }
  #mobilelogo img {
    width: 100%;
    height: auto;
  }
  .content {
    margin: 0.75rem;
  }
  #content {
    flex-direction: column;
  }
  #homelogo {
    display: none;
  }
  .text {
    width: 100%;
    padding: 1em;
  }
  .text a {
    /*font-size: 2em;*/
  }
  h2 {
    font-size: 1.85em;
  }
  p {
    font-size: 1.25em;
  }
  #textlinks {
    flex-direction: column;
    align-items: flex-start;
  }
  #textlinks p {
    font-size: 1.5em;
  }
  footer {
    padding: 0.25rem;
  }
  #footercontent {
    flex-direction: column-reverse;
    font-size: 1em;
    /*font-size: 1em;*/
  }
  #email {
    display: none;
  }
}


/*TABLET*/

@media (min-width:501px) and (max-width:1200px) {
  #hideindex2 {
    display: none;
  }
  #navbar {
    padding: 0rem;
  }
  .mobile {
    display: none;
  }
  #navbar ul {
    flex-direction: column;
  }
  #navbar ul li img {
    width: 100%;
    height: auto;
  }
  #mobilelogo img {
    width: 100%;
    height: auto;
  }
  .content {
    margin: 0.75rem;
  }
  #content {
    flex-direction: column;
  }
  #homelogo {
    display: none;
  }
  .text {
    width: 100%;
    padding: 1em;
  }
  .text a {
    /*font-size: 2em;*/
  }
  h2 {
    font-size: 1.85em;
  }
  p {
    font-size: 1.25em;
  }
  #textlinks {
    flex-direction: column;
    align-items: flex-start;
  }
  #textlinks p {
    font-size: 1.5em;
  }
  footer {
    padding: 0.25rem;
  }
  #footercontent {
    flex-direction: column-reverse;
    font-size: 1em;
    /*font-size: 1em;*/
  }
  #email {
    display: none;
  }
}


/*CARD - FROM WORK CODEPEN*/


/* REVISIT IN RESPONSIVE


@media (min-width:720px) {
  .card {
    width:49%;
  }

  .lastcard{
    width:49%;
  }

  .card:last-child {
  margin-right:auto;
  margin-left:2%;
  }
}

*/

@media (min-width:1170px) {
  .card {
    width: 24%;
  }
  /*USE LASTCARD ONLY ON LAST ELEMENT OF ROW OF 2*/
  .lastcard {
    width: 24%;
  }
  .lastcard:last-child {
    margin-right: auto;
    margin-left: 1.333333333%;
  }
}
